body, main {
    display: flex;
}

body {
    flex-direction: column;
}

main {
    flex: auto;
    flex-direction: row;
}

article {
    flex: 2;
    overflow-y: auto;
}

aside {
    flex: 1;
    overflow-y: auto;
}

table {
    border: 2px solid black;
    padding: 1rem;
}

td {
    padding: .5rem;
    border-bottom: 2px solid black;
}

th {
    font-weight: 900;
    background-color: aliceblue;
    padding: .5rem;
}